---PAGE 1---
Specification Sheet for Web Application Development with Python  
Level-4 
 
Job 01: Develop a job Portal  
Develop a job portal using Django. In this project you have to incorporate multiple 
recruiters and multiple job seekers from different domains on one platform. A single 
recruiter can post multiple job openings using his/her account. A single job seeker can 
apply for multiple openings based on his skills. Both recruiters and job seekers are able 
to manag e their account using a profile manager.  
Job Specification Information:  
1. Create a project named Name_ID_JobPortal.  
2. Develop a registration page using the following fields  
(Username, Display name, Email, Password, Confirm Password, User type)  
3. Develop a login page using the following fields  
(Username and Password)  
4. Develop a profile creation page based on user type  
a. Recruiters (Company information)  
b. Jobseekers (Skills set and resume upload option)  
5. Develop a job posting page for recruiters (Title, Number of openings, Category, 
Job description, Skills set)  
6. Develop a job applying page for jobseeker (Search)  
7. Develop a skill matching page for both recruiters and jobseeker (Dashboard for 
skill matched job)  
Job Specification Information:  
1. Create a Django Project. (Naming Convention: Name_ID_Project)  
2. Create a Database.  
3. Store the Database.  